<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
      <title>{% block title %} {% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
      No hablo queso
    {% endblock %}

    {% block footer %}
      <center>
        <br>
        <form action="/logout" method = "GET">
          <input type="submit" value="Log Out">
          | <a href="/">Home</a>
        </form>
        <br>
        <small> &copy; JAIMS Smith 2017</small>
      </center>
    {% endblock %}
  </body>
</html>
