<!DOCTYPE html>
<html>
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/foundation.css"> -->
    <!-- <link rel="stylesheet" href="css/app.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"crossorigin="anonymous" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  {% endblock %}
  
  <body>
    {% block content %}
    No hablo queso
    {% endblock %}
    
    {% block footer %}
    <center>
      <br>
      <form action="/logout", method = "POST">
	<input type="submit" class="alert button tiny hollow" value="Log Out">
        <a href="/" class="button tiny hollow">Home</a>  <a href="/profile" class="button tiny hollow">Profile</a>
      </form>
      <br>
      <small> &copy; JAIMS Smith 2017</small>
    </center>
    {% endblock %}
  </body>
</html>
