{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block content%}
<center>
  <div class="row">
    <h1>Create Account</h1>
    <form action="/signup", method = "POST">
      <p>Enter login info</p>
      <div>
	<label><strong>Username:</strong></label>
	<input type="text" name="User" placeholder="Username"><br>
      </div>
      <div>
	<label><strong>Password:</strong></label>
	<input type="password" name="Pass" placeholder="Password"><br>
      </div>
      <input type="submit" value="Create" class+"success button hollow">
    </form>
  </div>
</center>
{% endblock %}
