{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block content%}
<center>
  <h1>Should I Watch This?</h1>

  <h3>Search for a Movie</h3>
  <p>You do not need to be logged in for this!<p>
  <br><form action="/search", method = "POST">
    <input type="text" name="search" placeholder="Title"><br>
    <input type="submit" value="Search">
  </form>

  <br>
  <br>
  <h3>Login</h3>
  <form action="/auth", method = "POST">
    <p>Enter login info</p>
    <strong>Username:</strong>
    <input type="text" name="User" placeholder="Username"><br>
    <strong>Password:</strong>
    <input type="password" name="Pass" placeholder="Password"><br>
    <input type="submit" value="Login">
  </form>
</center>
{% endblock %}
