{% extends "base.html" %}
<head>
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/foundation.css">
 <link rel="stylesheet" href="css/app.css">
{% block title %}
  Home
{% endblock %}
<!-- </head> -->

{% block content%}

{% if username is defined %}
<div align="right">
  Hello {{username}}
  <hr>
</div>
{% endif %}

<center>
  <h1>Should I Watch This?</h1>

  <div class="row">
    <h3>Search for a Movie</h3>
    <p>You do not need to be logged in for this!<p>
      <br>
      <form action="/search", method = "POST">
	<div>
	  <label>Movie</label>  
	  <input type="text" name="search" placeholder="Title"><br>
	</div>
	<input type="submit" value="Search" class="success button hollow">
      </form>
  </div>
  <br><br>
  <hr>
  <br>
  <div class="row">
    <h3>Login</h3>
    <form action="/auth", method = "POST">
      <p>Enter login info</p>
      <div>
	<label><strong>Username:</strong></label>
	<input type="text" name="User" placeholder="Username"><br>
      </div>
      <div>
	<label><strong>Password:</strong></label>
	<input type="password" name="Pass" placeholder="Password"><br>
      </div>
      <input type="submit" value="Login">
    </form>
  </div>
  <br>
  <h3><i>Don't have an account?</i> <a href="/createaccount">Create Account</a></h3>
</center>
{% endblock %}
